.bg-box{
    width: 1200px;
    height: 600px;
    background-color: green;
    background-image: url(./img/pht_hs.png), url(./img/lamp-png-34914.png), url(./img/green-png-44873.png), url(./img/pht_їжак.png), url(./img/pht_donut.png) ;
    background-repeat: no-repeat, repeat-x, repeat-x, repeat-y, repeat-y;
    background-position: center, top, bottom, left, right;
    background-size: 447px 285px, 50px 80px, 250px 250px, 35px 25px, 35px 35px;
}