.bg-box{
    width: 1200px;
    height: 600px;
    background-color: green;
    background-image: url(./pht_hs.png), url(./lamp-png-34914.png), url(./green-png-44873.png), url(./pht_їжак.png), url(./pht_donut.png);
    background-repeat: no-repeat, repeat-x, repeat-x, repeat-y, repeat-y;
    background-position: center, top, bottom, left, right;
    background-size: 447px 285px, 50px 80px, 250px 250px, 35px 25px, 35px 35px;
}